.question{
  background: var(--light-gray);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.04);
  padding: 24px;

  & + .question{
    margin-top: 8px;
  }

  &.highlighted {
    background: var(--highlited-background);
    border: 1px solid var(--button-blue);
    
    footer .user-info span {
      color: var(--black);
    }
  }
  
  &.answered {
    background: var(--answered-background);
  }

  p{
    color: var(--color-black);
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info{
      display: flex;
      align-items: center;

      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span{
        margin-left: 8px;
        color: var(--dark-gray);
        font-size: 14px;
      }
    }

    >div{
      display: flex;
      gap: 16px;
    }

    button{
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button{
        display: flex;
        align-items: flex-end;
        color: var(--dark-gray);
        gap: 8px;

        &.liked{
          color: var(--button-blue);

          svg path{
            stroke: var(--button-blue);
          }
        }
      }

      &:hover{
        filter: brightness(0.7);
      }
    }
  }
}